@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --sizeVariable: 2rem;
}

.margin-float{
    margin-top: var(--sizeVariable);
}

.tranlate-btn-add{
    transform: translate(calc(100vw - 5rem), calc(100vh - 12.5rem));
}

@media (min-width: 638px) {
    .tranlate-btn-add{
        transform: translate(calc(100vw - 21rem), calc(100vh - 13rem));
    }
}

.translate-modal{
    transform: translate(calc(4rem - 100vw), calc(9rem - 100vh));
}
@media (min-width: 638px){
  
    .tranlate-btn-add{
        transform: translate(calc(100vw - 22rem), calc(100vh - 9.5rem));
    }
    .translate-modal{
        transform: translate(calc(6rem - 100vw), calc(6rem - 100vh));
        margin-left: 12vw;
    }
   
}

.float-layout-w{
    width: 98vw;
}

@media (min-width: 648px){
    .float-layout-w{
        width: calc(100vw - 16rem);
        max-width: calc(100vw - 16rem);
    }
}